.obraz
 {
   display: block;
  margin: auto;
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
 }
 body
 {
    font-size: medium;
    font-family: Arial, Arial, Helvetica, sans-serif;
    background-color: #cfe2f3; 
    text-align: center;
    color:#111;
 }
 .przycisk
 {
   display: inline-block;
  padding: 10px 20px; 
  background-color: white;
  color: black;
  text-decoration: none;
  border-radius: 5px;
 }
 .sekcja
 {
   max-width: 800px;
   margin: 30px auto;
   padding: 10px;
 }